@using RealtyWeb.Common;

@model Dictionary<int, RealtyWeb.Models.PropertyEntry>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        var bedroomStr = (item.Value.Bedrooms > 0) ? item.Value.Bedrooms + " bedroom " : string.Empty;
        var type = item.Value.Property.PropertyName + " ";
        var indicator = item.Value.PropertyIndicator.PropIndicatorName + " in ";
        var address2 = (!string.IsNullOrEmpty(item.Value.Address2)) ? item.Value.Address2 + ", " : string.Empty;
        var address3 = (!string.IsNullOrEmpty(item.Value.Address3)) ? item.Value.Address3 : string.Empty;
        var details = bedroomStr + type + indicator + address2 + address3;
        var completeAddress = item.Value.Address1 + ", " + item.Value.Address2 + ", " + item.Value.Address3;
        
    <div class="col-md-12 pe_panel">
        <div class="row innerPanel">
            <div class="col-md-5 col-sm-5 col-xs-12 galleryFrame" style="margin: 0px; padding: 0px;">
                <div class="row" style="padding:0px; margin: 0px;">
                    <a href="/@item.Value.GenerateTitleForURL()" title="" class="title modalDetails" onclick="">
                        <div class="pull-left" style="width: 100%">
                            <img style="width:100%" class="pull-left" height="198" src="
                                            @if (item.Value.ImageGallery.Count() > 0)
                                            {
                                                @Url.Action("GetImage", "Image", new { imageName = item.Value.ImageGallery.FirstOrDefault().ImagePath })
                                            }">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12" style="padding: 4px 15px 15px 20px;">
                <div class="row" style="margin: 0px; padding: 0px;">
                    @{ var domPropertyEntryId = "propertyId" + @item.Value.PropertyEntryId; }
                    <div class="col-md-10 col-sm-10 col-xs-10" style="padding: 0px;">
                        <h3 style="margin-top: 11px; color: rgb(0, 128, 0);">₱ @item.Value.Price.ToString("0,0")
                        </h3>
                    </div>
                    <div id="@domPropertyEntryId" class="col-md-2 col-sm-2 col-xs-2 favorite" style="padding: 0px;">
                        @Html.Partial("_Favorite", item)
                    </div>
                </div>
                <a href="/@item.Value.GenerateTitleForURL()" title="" class="title modalDetails" onclick="" style="text-decoration:none; color:inherit">
                    <p style="font-weight: bold; max-width: 376px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                        @details
                    </p>
                    <p style="color: #25769f; overflow: hidden; max-width: 379px; text-overflow: ellipsis; white-space: nowrap;">
                        @completeAddress
                    </p>
                    <div style="max-height: 53px; text-overflow: ellipsis; height: 83px; overflow: hidden;">
                        @item.Value.PropertyDetails
                    </div>
                    <div class="row" style="margin: 10px 0 0 0; color: #25769f; padding: 0px;">
                        <div class="col-md-6 col-sm-6 col-xs-12" style="font-size: 11px; padding: 0 0 0 3px; border-left: 1px solid #dadada;">Lot Area: <strong>@item.Value.LotArea </strong>sqm.</div>
                        <div class="col-md-6 col-sm-6 col-xs-12" style="font-size: 11px; padding: 0 0 0 3px; border-left: 1px solid #dadada;">Floor Area: <strong>@item.Value.FloorArea </strong>sqm.</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    }
}